---
import Layout from "@layouts/base.astro";
import ApodCard from "@components/preApodCard.astro";
import { Image } from "astro:assets";
import { database } from "@lib/database";

export const prerender = false;
const { data, error } = await database
  .from("APODs")
  .select("*")
  .order("date", { ascending: false })
  .limit(1)
  .single();

const month = Number(data?.date.split("-")[1]);
const day = Number(data?.date.split("-")[2]);

const { data: anniversaries } = await database.rpc("get_apods_by_date", {
  m: month,
  d: day,
});

const { data: galleryItems } = await database
  .from("APODs")
  .select("date, title, url, hdurl")
  .order("date", { ascending: false })
  .limit(12);

anniversaries?.pop();
---

<Layout title="astroDaily">
  <main>

    <!-- Hero section -->
    <section id="hero" aria-labelledby="Introduction" class="flex flex-col justify-center items-center h-dvh w-screen border-b border-zinc-700">
        <h1 class="font-sans font-bold text-7xl md:text-[12rem] tracking-tighter top-20 select-none text-center bg-linear-0 from-black to-zinc-200 text-transparent bg-clip-text hover:tracking-normal duration-700">
          astroDaily
        </h1>
        <p class="text-center text-zinc-400 leading-relaxed text-balance">
          An archive + gallery of NASA's astronomy picture of the day.
        </p>
    </section>

    <!-- Today's Astronomy Picture -->
    <section id="today's-apod" aria-labelledby="today-heading" class="md:py-20 py-15 px-4 border-b border-zinc-700 w-full flex flex-col items-center justify-center gap-6 md:gap-10">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-zinc-200 tracking-tight text-center w-full">
        Astronomy Picture of the Day
      </h2>
      <div class="flex items-center justify-center w-full">
        <ApodCard Apod={data} />
      </div>
    </section>

    <!-- Pictures from past -->
    <section id="history" aria-labelledby="history-heading" class="md:py-20 py-15 border-b border-zinc-700 w-full flex flex-col justify-center gap-6 md:gap-10">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-zinc-200 tracking-tight text-center w-full">
        Pictures from past on this day.
      </h2>
      <div id="gallery" aria-labelledby="gallery-heading" class="flex items-center justify-center">
        {
          anniversaries && anniversaries.length > 0 ? (
            <div class="px-4 flex flex-row gap-6 md:gap-10 items-center overflow-x-auto scrollbar-hidden snap-x snap-mandatory scroll-smooth">
              {anniversaries.map((item) => (
                <ApodCard Apod={item} classList="snap-center snap-always" />
              ))}
            </div>
          ) : (
            <div class="flex flex-col items-center justify-center py-40 border border-dashed border-white/10 rounded-3xl">
              <p class="text-sm tracking-widest uppercase text-zinc-600">
                No cosmic data found for this period
              </p>
            </div>
          )
        }
      </div>
    </section>

    <!-- Gallery preview -->
    <section class="md:py-20 py-15 border-b border-zinc-700 w-full md:flex hidden flex-col justify-center gap-6 md:gap-10">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-zinc-200 tracking-tight text-center w-full">
        Gallery
      </h2>
      <div class="columns-1 md:columns-2 lg:columns-3 xl:columns-4 gap-6 space-y-6 px-10">
        {
          galleryItems?.map((item) => (
            <div class="relative group break-inside-avoid rounded-3xl border border-white/10 bg-white/5 overflow-hidden transition-all duration-500 hover:border-white/20 hover:shadow-[0_0_80px_rgba(99,102,241,0.1)]">
              <Image src={item.url || ""} width={800} height={1000} alt={item.title} class="w-full h-auto object-cover transition-all duration-1000 ease-out group-hover:scale-105 opacity-0 z-10" onload="this.classList.remove('opacity-0')" />
              <div class="absolute inset-0 bg-linear-to-t from-black/90 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-all duration-500 flex flex-col justify-end p-2">
                <div class="flex flex-col gap-1 mb-4 translate-y-4 group-hover:translate-y-0 transition-transform duration-500 delay-75">
                  <span class="text-[10px] font-semibold uppercase tracking-[0.2em] text-white">
                    {item.date}
                  </span>
                  <h3 class="text-white font-medium text-lg leading-tight line-clamp-1">
                    {item.title}
                  </h3>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <a href="/gallery" class="group flex max-w-125 min-w-80 mx-auto items-center justify-center gap-2 py-4 rounded-2xl bg-white text-black font-semibold text-sm transition-transform active:scale-95 hover:bg-zinc-200">
        Browse Gallery
      </a>
    </section>

  </main>
</Layout>
