---
import { Image } from "astro:assets";
import { database } from "@lib/database";
import PreApodCard from "./preApodCard.astro";

const { Apod } = Astro.props;
const month = Apod.date.split("-")[1];
const day = Apod.date.split("-")[2];

const { data: anniversaries } = await database.rpc("get_apods_by_date", {
  m: month,
  d: day,
});

anniversaries?.pop();
---

<main class="relative min-h-screen bg-black text-zinc-300">
  <div class="fixed inset-0 overflow-hidden pointer-events-none">
    <div
      class="absolute -top-[25%] -left-[10%] w-[70%] h-[70%] bg-zinc-500/10 blur-[120px] rounded-full"
    >
    </div>
    <div
      class="absolute top-[20%] -right-[10%] w-[60%] h-[60%] bg-zinc-500/5 blur-[120px] rounded-full"
    >
    </div>
  </div>

  <div class="relative max-w-7xl mx-auto px-6 pb-24">
    <div class="flex flex-col items-center">
      <header
        class="flex flex-col items-center mb-12 animate-in fade-in slide-in-from-bottom-4 duration-1000"
      >
        <div class="flex items-center gap-3 mb-6">
          <span class="h-px w-8 bg-white/20"></span>
          <span
            class="text-[11px] font-bold tracking-[0.3em] uppercase text-zinc-500"
          >
            {Apod?.date}
          </span>
          <span class="h-px w-8 bg-white/20"></span>
        </div>

        <h1
          class="font-sans text-4xl md:text-6xl lg:text-7xl font-bold tracking-tight text-white text-center leading-[1.1] max-w-4xl"
        >
          {Apod?.title}
        </h1>
      </header>

      <figure
        class="w-full relative group mb-24 animate-in fade-in zoom-in-95 duration-1000 delay-200"
      >
        <div
          class="absolute inset-0 bg-white/5 blur-3xl rounded-2xl opacity-20 group-hover:opacity-30 transition-opacity"
        >
        </div>
        <Image
          width={500}
          height={800}
          loading="eager"
          src={Apod?.url ||
            "https://astro.build/assets/press/astro-logo-light-gradient.png"}
          alt={Apod?.title || "NASA"}
          class="relative w-full object-cover rounded-3xl md:rounded-[2.5rem] border border-white/10 shadow-2xl shadow-black"
        />

        <div
          class="absolute md:bottom-6 md:right-8 bottom-3 right-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex gap-1"
        >
          <p
            class="text-[10px] text-right tracking-widest uppercase text-white/50 bg-black/40 backdrop-blur-md px-3 py-1.5 rounded-full border border-white/10"
          >
            &copy; {Apod?.copyright || "NASA"}
          </p>
          <a
            href={Apod?.hdurl}
            download={Apod?.title}
            target="_blank"
            class="text-[10px] w-12.5 tracking-widest uppercase text-white/50 bg-black/40 backdrop-blur-md flex items-center justify-center rounded-full border border-white/10"
          >
            <svg
              data-testid="geist-icon"
              height="16"
              stroke-linejoin="round"
              style="color:currentColor"
              viewBox="0 0 16 16"
              width="16"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.75 1V1.75V8.68934L10.7197 6.71967L11.25 6.18934L12.3107 7.25L11.7803 7.78033L8.70711 10.8536C8.31658 11.2441 7.68342 11.2441 7.29289 10.8536L4.21967 7.78033L3.68934 7.25L4.75 6.18934L5.28033 6.71967L7.25 8.68934V1.75V1H8.75ZM13.5 9.25V13.5H2.5V9.25V8.5H1V9.25V14C1 14.5523 1.44771 15 2 15H14C14.5523 15 15 14.5523 15 14V9.25V8.5H13.5V9.25Z"
                fill="currentColor"></path></svg
            >
          </a>
        </div>
      </figure>

      <div
        class="grid grid-cols-1 lg:grid-cols-[1fr_2px_1fr] gap-12 lg:gap-20 items-start max-w-5xl"
      >
        <article class="prose prose-invert prose-zinc lg:prose-lg">
          <h2 class="text-white font-medium text-lg mb-4 tracking-tight">
            Explanation
          </h2>
          <p class="text-zinc-400 leading-relaxed text-balance">
            {Apod?.explanation}
          </p>
        </article>

        <div
          class="hidden lg:block self-stretch bg-linear-to-b from-transparent via-white/10 to-transparent"
        >
        </div>

        <aside class="flex flex-col gap-8 lg:sticky lg:top-32">
          <div
            class="p-6 rounded-2xl border border-white/5 bg-white/2 backdrop-blur-sm"
          >
            <h3
              class="text-xs font-bold uppercase tracking-widest text-zinc-400 mb-4"
            >
              Metadata
            </h3>
            <div class="space-y-4">
              <div
                class="flex justify-between items-center border-b border-white/5 pb-3"
              >
                <span class="text-sm text-zinc-500">Source</span>
                <span class="text-sm text-zinc-200 text-right">NASA APOD</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-sm text-zinc-500">Credit</span>
                <span class="text-sm text-zinc-200 text-right"
                  >{Apod?.copyright || "Public Domain"}</span
                >
              </div>
            </div>
          </div>
          <div
            class="p-6 rounded-2xl border border-white/5 bg-white/2 backdrop-blur-sm"
          >
            <h3
              class="text-xs font-bold uppercase tracking-widest text-zinc-400 mb-4"
            >
              Share
            </h3>
            <p class="flex flex-row gap-7 items-center justify-between px-7">
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.6376 2.32334C12.1421 0.825856 10.153 0.000759757 8.03365 0C3.66658 0 0.112432 3.55377 0.110912 7.92199C0.110152 9.31841 0.475216 10.6814 1.1685 11.8826L0.0444336 15.9883L4.24437 14.8867C5.40147 15.5181 6.70446 15.8504 8.03025 15.8508H8.03365C12.4 15.8508 15.9545 12.2967 15.956 7.92844C15.9568 5.8114 15.1336 3.8212 13.6376 2.32372V2.32334ZM8.03365 14.5129H8.031C6.84956 14.5125 5.69058 14.1949 4.67935 13.5951L4.43887 13.4523L1.94649 14.106L2.61166 11.6759L2.45514 11.4267C1.79605 10.3783 1.4477 9.16645 1.44846 7.92239C1.44998 4.29187 4.40392 1.33793 8.03635 1.33793C9.79515 1.33869 11.4484 2.02438 12.6917 3.26924C13.9351 4.51372 14.6192 6.16849 14.6185 7.92769C14.6169 11.5586 11.663 14.5125 8.03365 14.5125V14.5129ZM11.6455 9.5813C11.4476 9.48217 10.4744 9.00349 10.2928 8.93741C10.1112 8.87129 9.97942 8.83828 9.84757 9.03655C9.71577 9.23487 9.33628 9.68084 9.22079 9.81264C9.1053 9.94484 8.9898 9.96119 8.79188 9.86201C8.594 9.76287 7.95617 9.55394 7.19984 8.87965C6.61142 8.35465 6.21402 7.70661 6.09858 7.50829C5.98309 7.31001 6.08642 7.20287 6.18516 7.10449C6.27405 7.0156 6.38309 6.87315 6.48222 6.75766C6.58141 6.64217 6.61407 6.55938 6.68015 6.42754C6.74627 6.29534 6.71321 6.17989 6.66384 6.08071C6.61442 5.98157 6.21862 5.00716 6.05336 4.61096C5.89265 4.22501 5.72934 4.27744 5.60815 4.27098C5.49265 4.26528 5.36085 4.26414 5.22865 4.26414C5.09646 4.26414 4.88218 4.31352 4.70061 4.51182C4.51904 4.7101 4.00771 5.18913 4.00771 6.16314C4.00771 7.13715 4.71696 8.07889 4.8161 8.21109C4.91524 8.34329 6.21212 10.3426 8.19776 11.2004C8.66998 11.4043 9.03882 11.5263 9.32638 11.6175C9.8005 11.7683 10.232 11.747 10.5731 11.6961C10.9534 11.6391 11.7443 11.2171 11.9092 10.7547C12.074 10.2924 12.074 9.89582 12.0247 9.81339C11.9753 9.73096 11.8431 9.68119 11.6452 9.58206L11.6455 9.5813Z"
                    fill="#25D366"></path></svg
                >
              </a>
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor; --darkreader-inline-color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  data-darkreader-inline-color=""
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.00319 15.9377C12.948 15.4442 16 12.0785 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 11.8172 2.67341 15.0099 6.25 15.808V10.4303H4.5V8H6.25V6.93969C6.25 4.22193 7.28461 2.96364 9.95128 2.96364C10.4559 2.96364 11.3277 3.06264 11.6854 3.16164V5.37163C11.497 5.35247 11.168 5.34289 10.7625 5.34289C9.45307 5.34289 9 5.8379 9 7.12812V8H11.5577L11.1106 10.4303H9.00319V15.9377Z"
                    fill="#0866FF"
                    style="--darkreader-inline-fill: var(--darkreader-text-0866ff, #1f91ff);"
                    data-darkreader-inline-fill=""></path></svg
                >
              </a>
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.5 0.5H5.75L9.48421 5.71053L14 0.5H16L10.3895 6.97368L16.5 15.5H11.25L7.51579 10.2895L3 15.5H1L6.61053 9.02632L0.5 0.5ZM12.0204 14L3.42043 2H4.97957L13.5796 14H12.0204Z"
                    fill="currentColor"></path></svg
                >
              </a>
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  ><path
                    d="M7.99102 15.8942C12.3558 15.8942 15.8941 12.3558 15.8941 7.99104C15.8941 3.62626 12.3558 0.0879135 7.99102 0.0879135C3.62624 0.0879135 0.0878906 3.62626 0.0878906 7.99104C0.0878906 12.3558 3.62624 15.8942 7.99102 15.8942Z"
                    fill="#FF4500"></path>
                  <path
                    d="M13.2618 7.99104C13.2382 7.35457 12.7038 6.85755 12.0654 6.87916C11.7825 6.88899 11.5134 7.0049 11.3092 7.19932C10.4094 6.58639 9.35253 6.25042 8.26611 6.22689L8.77876 3.76146L10.4702 4.1171C10.5173 4.55125 10.9063 4.86562 11.3404 4.81837C11.7746 4.7713 12.0889 4.3823 12.0417 3.94815C11.9945 3.51401 11.6056 3.19964 11.1715 3.24688C10.9219 3.27235 10.698 3.41776 10.5744 3.63396L8.63738 3.24688C8.50584 3.21737 8.37412 3.29992 8.34462 3.43357C8.34462 3.4355 8.34462 3.4355 8.34462 3.43743L7.76119 6.17982C6.66108 6.19756 5.59047 6.53546 4.67897 7.15225C4.21532 6.71618 3.48455 6.73778 3.04847 7.20336C2.61239 7.66701 2.63399 8.39779 3.09958 8.83386C3.19002 8.91834 3.29399 8.99105 3.40991 9.04215C3.402 9.15807 3.402 9.27398 3.40991 9.38989C3.40991 11.1598 5.47262 12.5998 8.01655 12.5998C10.5605 12.5998 12.6232 11.1618 12.6232 9.38989C12.6311 9.27398 12.6311 9.15807 12.6232 9.04215C13.0201 8.8437 13.2697 8.43502 13.2618 7.99104ZM5.35864 8.78276C5.35864 8.34668 5.71428 7.99104 6.15036 7.99104C6.58644 7.99104 6.94208 8.34668 6.94208 8.78276C6.94208 9.21883 6.58644 9.57447 6.15036 9.57447C5.71235 9.57043 5.35864 9.21883 5.35864 8.78276ZM9.94965 10.9868V10.9554C9.38783 11.3778 8.70026 11.5938 7.99688 11.5645C7.2935 11.594 6.60611 11.3778 6.04411 10.9554C5.96946 10.865 5.98316 10.7296 6.07361 10.6549C6.15211 10.5901 6.26416 10.5901 6.34477 10.6549C6.82019 11.0027 7.39975 11.1795 7.98898 11.1519C8.57837 11.1834 9.15987 11.0144 9.64108 10.6707C9.72749 10.5862 9.86887 10.5882 9.95352 10.6746C10.038 10.761 10.0361 10.9024 9.94965 10.9868ZM9.84164 9.63138C9.82795 9.63138 9.81618 9.63138 9.8023 9.63138L9.80828 9.60187C9.3722 9.60187 9.01656 9.24623 9.01656 8.81015C9.01656 8.37408 9.3722 8.01844 9.80828 8.01844C10.2444 8.01844 10.6 8.37408 10.6 8.81015C10.6176 9.24641 10.2777 9.61364 9.84164 9.63138Z"
                    fill="white"></path>
                </svg>
              </a>
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  ><g clip-path="url(#clip0_872_3152)">
                    <path
                      d="M3.42681 10.0787C3.42681 10.9984 2.68351 11.7417 1.76382 11.7417C0.844137 11.7417 0.10083 10.9984 0.10083 10.0787C0.10083 9.15906 0.844137 8.41575 1.76382 8.41575H3.42681V10.0787ZM4.25831 10.0787C4.25831 9.15906 5.00162 8.41575 5.9213 8.41575C6.84099 8.41575 7.58429 9.15906 7.58429 10.0787V14.2362C7.58429 15.1559 6.84099 15.8992 5.9213 15.8992C5.00162 15.8992 4.25831 15.1559 4.25831 14.2362V10.0787Z"
                      fill="#E01E5A"></path>
                    <path
                      d="M5.92121 3.40158C5.00152 3.40158 4.25821 2.65827 4.25821 1.73858C4.25821 0.818899 5.00152 0.075592 5.92121 0.075592C6.84089 0.075592 7.5842 0.818899 7.5842 1.73858V3.40158H5.92121ZM5.92121 4.24567C6.84089 4.24567 7.5842 4.98898 7.5842 5.90866C7.5842 6.82835 6.84089 7.57165 5.92121 7.57165H1.75113C0.831442 7.57165 0.0881348 6.82835 0.0881348 5.90866C0.0881348 4.98898 0.831442 4.24567 1.75113 4.24567H5.92121Z"
                      fill="#36C5F0"></path>
                    <path
                      d="M12.5858 5.90866C12.5858 4.98898 13.3291 4.24567 14.2488 4.24567C15.1685 4.24567 15.9118 4.98898 15.9118 5.90866C15.9118 6.82835 15.1685 7.57165 14.2488 7.57165H12.5858V5.90866ZM11.7543 5.90866C11.7543 6.82835 11.011 7.57165 10.0913 7.57165C9.17165 7.57165 8.42834 6.82835 8.42834 5.90866V1.73858C8.42834 0.818899 9.17165 0.075592 10.0913 0.075592C11.011 0.075592 11.7543 0.818899 11.7543 1.73858V5.90866Z"
                      fill="#2EB67D"></path>
                    <path
                      d="M10.0913 12.5732C11.011 12.5732 11.7543 13.3165 11.7543 14.2362C11.7543 15.1559 11.011 15.8992 10.0913 15.8992C9.17165 15.8992 8.42834 15.1559 8.42834 14.2362V12.5732H10.0913ZM10.0913 11.7417C9.17165 11.7417 8.42834 10.9984 8.42834 10.0787C8.42834 9.15906 9.17165 8.41575 10.0913 8.41575H14.2614C15.1811 8.41575 15.9244 9.15906 15.9244 10.0787C15.9244 10.9984 15.1811 11.7417 14.2614 11.7417H10.0913Z"
                      fill="#ECB22E"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_872_3152">
                      <rect width="16" height="16" fill="white"></rect>
                    </clipPath>
                  </defs></svg
                >
              </a>
              <a
                href=""
                class="hover:scale-120 transition-transform duration-500"
              >
                <svg
                  data-testid="geist-icon"
                  height="16"
                  stroke-linejoin="round"
                  style="color: currentcolor;"
                  viewBox="0 0 16 16"
                  width="16"
                  ><path
                    d="M13.5535 3.01557C12.5023 2.5343 11.3925 2.19287 10.2526 2C10.0966 2.27886 9.95547 2.56577 9.82976 2.85952C8.6155 2.67655 7.38067 2.67655 6.16641 2.85952C6.04063 2.5658 5.89949 2.27889 5.74357 2C4.60289 2.1945 3.4924 2.53674 2.44013 3.01809C0.351096 6.10885 -0.215207 9.12285 0.0679444 12.0941C1.29133 12.998 2.66066 13.6854 4.11639 14.1265C4.44417 13.6856 4.73422 13.2179 4.98346 12.7283C4.51007 12.5515 4.05317 12.3334 3.61804 12.0764C3.73256 11.9934 3.84456 11.9078 3.95279 11.8248C5.21891 12.4202 6.60083 12.7289 7.99997 12.7289C9.39912 12.7289 10.781 12.4202 12.0472 11.8248C12.1566 11.9141 12.2686 11.9997 12.3819 12.0764C11.9459 12.3338 11.4882 12.5524 11.014 12.7296C11.2629 13.2189 11.553 13.6862 11.881 14.1265C13.338 13.6872 14.7084 13.0001 15.932 12.0953C16.2642 8.64968 15.3644 5.66336 13.5535 3.01557ZM5.34212 10.2668C4.55307 10.2668 3.90119 9.55073 3.90119 8.66981C3.90119 7.78889 4.53042 7.06654 5.3396 7.06654C6.14879 7.06654 6.79563 7.78889 6.78179 8.66981C6.76795 9.55073 6.14627 10.2668 5.34212 10.2668ZM10.6578 10.2668C9.86752 10.2668 9.21815 9.55073 9.21815 8.66981C9.21815 7.78889 9.84738 7.06654 10.6578 7.06654C11.4683 7.06654 12.1101 7.78889 12.0962 8.66981C12.0824 9.55073 11.462 10.2668 10.6578 10.2668Z"
                    fill="#5865F2"></path></svg
                >
              </a>
            </p>
          </div>
          <a
            href="/archive"
            class="group flex items-center justify-center gap-2 py-4 rounded-2xl bg-white text-black font-semibold text-sm transition-transform active:scale-95 hover:bg-zinc-200"
          >
            Browse Archive
            <svg
              class="group-hover:translate-x-2 transition-transform duration-200"
              data-testid="geist-icon"
              height="16"
              stroke-linejoin="round"
              style="color: currentcolor;"
              viewBox="0 0 16 16"
              width="16"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.53033 2.21968L9 1.68935L7.93934 2.75001L8.46967 3.28034L12.4393 7.25001H1.75H1V8.75001H1.75H12.4393L8.46967 12.7197L7.93934 13.25L9 14.3107L9.53033 13.7803L14.6036 8.70711C14.9941 8.31659 14.9941 7.68342 14.6036 7.2929L9.53033 2.21968Z"
                fill="currentColor"></path></svg
            >
          </a>
        </aside>
      </div>
    </div>
  </div>
</main>
<section class="scroll-my-32 py-20 border-b border-zinc-700 w-full">
  <div
    class="w-full flex items-baseline justify-center gap-4 mb-10 border-b border-white/5 pb-4"
  >
    <h3
      class="text-3xl md:text-4xl lg:text-5xl font-bold text-zinc-200 tracking-tight text-center w-full"
    >
      Pictures from past on this day.
    </h3>
  </div>

  <div class="flex items-center justify-center">
    {
      anniversaries && anniversaries.length > 0 ? (
        <div class="px-20 flex flex-row gap-6 items-center overflow-x-auto scrollbar-hidden snap-x snap-mandatory scroll-smooth">
          {anniversaries.map((item) => (
            <PreApodCard Apod={item} classList="snap-center snap-always" />
          ))}
        </div>
      ) : (
        <div class="flex flex-col items-center justify-center py-40 border border-dashed border-white/10 rounded-3xl">
          <p class="text-sm tracking-widest uppercase text-zinc-600">
            No cosmic data found for this period
          </p>
        </div>
      )
    }
  </div>
</section>
