---
import Icon from "./icons.astro";

const { Apod, classList } = Astro.props;
const placeholder = `https://wsrv.nl/?url=${encodeURIComponent(Apod.media_type === 'image' ? Apod.url : Apod.thumbnail_url)}&w=20&output=webp&q=1&blur=3`;
const full = `https://wsrv.nl/?url=${encodeURIComponent(Apod.media_type === 'image' ? Apod.url : Apod.thumbnail_url)}&w=500&output=webp&q=80`;
const date = Apod.date;
const year = date.split("-")[0];
const month = date.split("-")[1];
const day = date.split("-")[2];
---

<article class={`lg:w-full md:full w-9/10 max-w-125 min-w-80 md:min-w-90 ${classList}`}>
  <a href={`/archive/${year}/${month}/${day}`} title={`Read more about ${Apod?.title}`} class="group relative block overflow-hidden rounded-3xl border border-white/10 bg-white/3 transition-all duration-500 ease-out hover:border-white/20 hover:bg-white/6 hover:shadow-[0_20px_50px_rgba(0,0,0,0.5)]" >
    <figure class="group relative w-full overflow-hidden bg-white/2">
      <div class="relative overflow-hidden aspect-video">
        <div class="absolute inset-0 z-0">
          <div class="z-20 absolute bottom-3 px-3 opacity-0 group-hover:opacity-100 transition-opacity duration-500 md:block">
            <figcaption class="right-0 text-[10px] tracking-widest uppercase text-white/50 bg-black/40 backdrop-blur-md px-3 py-1.5 rounded-full border border-white/10 line-clamp-1">
              &copy; {Apod?.copyright || "NASA"}
            </figcaption>
          </div>

          <div class="absolute inset-0 bg-white/10 animate-pulse rounded-b-3xl group-hover:rounded-b-sm duration-500 transition-all ease-in-out"></div>
          <img loading="lazy" class="relative z-10 h-full w-full object-cover transition-all ease-in-out rounded-b-3xl group-hover:rounded-b-sm duration-500 scale-110" src={placeholder} data-src={full}
          onload="if (this.dataset.src && this.src !== this.dataset.src) {
            const full = new Image();
            full.onload = () => { this.src = this.dataset.src; this.classList.remove('blur-xl', 'scale-110'); };
            full.src = this.dataset.src;
          }" /> 
        </div>
      </div>

      <div class="p-5 flex flex-row items-center">
        <div class="flex flex-col gap-1 min-w-[95%]">
          <time datetime={Apod?.date} class="text-[10px] font-semibold uppercase tracking-[0.2em] text-zinc-500" >
            {Apod?.date}
          </time>

          <h3 class="text-xl font-medium tracking-tight text-white/90 line-clamp-1">
            {Apod?.title || "Untitled Cosmic Event"}
          </h3>
        </div>

        <Icon glyph="chevron-right" class="transition-transform duration-200 ease-out scale-0 group-hover:scale-105 -translate-x-3 group-hover:translate-x-0"/>
      </div>
      <div class="pointer-events-none absolute inset-0 opacity-0 transition-opacity duration-500 group-hover:opacity-100 bg-linear-to-tr from-white/5 to-transparent"></div>
    </figure>
  </a>
</article>
